version: '3.8'

services:
  consul:
    image: consul:1.15
    ports:
      - "8500:8500"
    command: agent -dev -client=0.0.0.0

  redaction-service:
    build: ./redaction_service
    ports:
      - "8000:8000"
    environment:
      - CONSUL_HOST=consul
      - CONSUL_PORT=8500
    depends_on:
      - consul

  frontend-web:
    build: ./frontend_web
    ports:
      - "3000:3000"
    environment:
      - BACKEND_URL=http://redaction-service:8000
    depends_on:
      - redaction-service

